@model IEnumerable<SRDP.WebUI.Models.GestionModel>

@{
    ViewBag.Title = "Index";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="container">
    <h4 class="page-title">Administratr Gestiones</h4>
    <div class="row">
        <div class="col-md-12">
            <a id="addGestion" class="btn btn-primary btn-round pull-right" onclick=PopupForm('@Url.Action("Add", "Gestiones" )')><i class="fa fa-plus"></i> Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped" id="gestionesTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Gestion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaFinal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vigente)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gestion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaFinal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vigente)
                            </td>
                            <td>
                                @if(item.Vigente)
                                { 
                                    <a class="btn btn-primary btn-sm text-white" onclick=PopupForm('@Url.Action("Edit", "Gestiones" , new { anio=item.Gestion })')> <i class='fa fa-pencil'></i> Modificar Fechas</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

@section scripts{

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/Scripts/jquery-ui.js"></script>
    @*<script>
        $(function () {
            $(".datefield").datepicker({
                dateFormat: "dd/MM/yyyy",
                showOn: 'button',
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                buttonText: "<i class='fa fa-calendar></i>'"
            });
        });
    </script>*@
    <script>
        var dataTable;
          var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#gestionesTable").DataTable({
                dom: 'tip',
                lengthChange: false,
                searching: false,
                //dom: "tip",
                //searching: false,
                //language: {

                //    "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                //}
            })
        });
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Ingrese los datos',
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            location.reload(true);
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                        else {
                            Popup.dialog('close');
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }


    </script>
}