@model SRDP.WebApp.ModelViews.EstadoGeneralModelView

@{
    ViewData["Title"] = "Index";
}

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Estado general</h4>
            <partial name="_SearchParamView" , model="Model.SearchParameters" />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-sm" id="declaracionEstadoTable">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            @Html.DisplayNameFor(model => model.Data[0].NombreCompleto)
                                        </th>
                                        <th scope="col">
                                            @Html.DisplayNameFor(model => model.Data[0].Cargo)
                                        </th>
                                        <th scope="col">
                                            @Html.DisplayNameFor(model => model.Data[0].Area)
                                        </th>
                                        <th scope="col">
                                            @Html.DisplayNameFor(model => model.Data[0].UbicacionGeografica)
                                        </th>
                                        <th scope="col">
                                            @Html.DisplayNameFor(model => model.Data[0].CentroCosto)
                                        </th>
                                        <th scope="col">
                                            @Html.DisplayNameFor(model => model.Data[0].Rol)
                                        </th>
                                        <th scope="col">
                                            @Html.DisplayNameFor(model => model.Data[0].EstadoDeclaracion)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Data)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombreCompleto)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cargo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Area)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UbicacionGeografica)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CentroCosto)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rol)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EstadoDeclaracion)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Detalles", "Details", "Declaracion", new { id = item.DeclaracionID })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#declaracionEstadoTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf', 'print'
                ],
                "scrollX": true,
            });

        });
    </script>
}