@model SRDP.WebUI.Models.DeclaracionModel

@{
    ViewBag.Title = "Declaracion patrimonial";
    string Disabled = "disabled";
    if (Model.EsEditable)
    {
        Disabled = "";
    }
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<style>
    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }
</style>
<div class="container">
    <h2>Formulario de Declaración Patrimonial</h2>
    @*Datos Personales*@
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin:16px 0 8px 0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card-title">Datos Personales</div>
                        </div>
                        <div class="col-md-1">
                            @if (Model.EsEditable)
                            {
                                <a id="closeDeclaracionButton" class="btn btn-info btn-round pull-right text-white" onclick=PopupForm('@Url.Action("Finalizar", "Declaraciones" , new { id=Model.DeclaracionID } )')> Finalizar Declaracion</a>
                            }
                        </div>
                        <div class="col-md-1">
                            @Html.ActionLink("PDF", "GeneratePdf", new { id = Model.DeclaracionID }, new { @class = "btn btn-info btn-round pull-right" })
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2 font-weight-bold col-form-label-sm">
                            @Html.DisplayNameFor(model => model.NombreCompleto)
                        </div>
                        <div class="col-sm-4 form-control-sm">
                            @Html.DisplayFor(model => model.NombreCompleto)
                        </div>
                        <div class="col-sm-2 font-weight-bold col-form-label-sm">
                            @Html.DisplayNameFor(model => model.CedulaIdentidad)
                        </div>
                        <div class="col-sm-4 form-control-sm">
                            @Html.DisplayFor(model => model.CedulaIdentidad)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 font-weight-bold col-form-label-sm">
                            @Html.DisplayNameFor(model => model.FechaNacimiento)
                        </div>
                        <div class="col-sm-4 form-control-sm">
                            @Html.DisplayFor(model => model.FechaNacimiento)
                        </div>
                        <div class="col-sm-2 font-weight-bold col-form-label-sm">
                            @Html.DisplayNameFor(model => model.EstadoCivil)
                        </div>
                        <div class="col-sm-4 form-control-sm">
                            @Html.DisplayFor(model => model.EstadoCivil)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 font-weight-bold col-form-label-sm">
                            @Html.DisplayNameFor(model => model.Gestion)
                        </div>
                        <div class="col-sm-4 form-control-sm">
                            @Html.DisplayFor(model => model.Gestion)
                        </div>
                        <div class="col-sm-2 font-weight-bold col-form-label-sm">
                            @Html.DisplayNameFor(model => model.PatrimonioNeto)
                        </div>
                        <div class="col-sm-4 form-control-sm">
                            @Html.DisplayFor(model => model.PatrimonioNeto)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Depositos*@
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin:16px 0 8px 0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card-title">Depósitos</div>
                            <div class="card-text">Indicar todos los depósitos que usted tenga a su nombre en el sistema financiero nacional e internacional tanto en moneda nacional, dólares americanos u otros</div>
                        </div>
                        <div class="col-md-2">
                            <p class="demo">
                                <a id="addDeposito" class="btn btn-primary btn-round pull-right @Disabled" onclick=PopupForm('@Url.Action("Save", "Depositos" , new { id=Guid.Empty, declaracionID=Model.DeclaracionID } )')><i class="fa fa-plus"></i> Nuevo</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="depositosTable" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Depositos[0].Institucion)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Depositos[0].TipoDeCuenta)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Depositos[0].Saldo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Depositos)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Institucion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoDeCuenta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Saldo)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm @Disabled" onclick=PopupForm('@Url.Action("Save", "Depositos" , new { id=item.ID, declaracionID=Model.DeclaracionID })')> <i class='fa fa-pencil'></i> Editar</a>
                                        <a class='btn btn-danger btn-sm @Disabled' onclick=Delete('@Url.Action("Delete", "Depositos" , new { id=item.ID })')><i class='fa fa-trash'></i> Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*Inmuebles*@
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin:16px 0 8px 0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card-title">Inmuebles</div>
                            <div class="card-text">Indicar todos los inmuebles de los cuales usted sea propietario parcial o total. Tomar en cuenta para las personas casadas el bien si es ganancial debe indicar solo el 50% de participación</div>
                        </div>
                        <div class="col-md-2">
                            <p class="demo">
                                <a id="addInmueble" class="btn btn-primary btn-round pull-right @Disabled" onclick=PopupForm('@Url.Action("Save", "Inmuebles" , new { id=Guid.Empty, declaracionID=Model.DeclaracionID } )')><i class="fa fa-plus"></i> Nuevo</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="inmueblesTable" class="table table-bordered table-head-bg-info table-condensed">
                        <thead>
                            <tr>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Inmuebles[0].Direccion)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Inmuebles[0].TipoDeInmueble)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Inmuebles[0].PorcentajeParticipacion)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Inmuebles[0].ValorComercial)
                                </th>
                                <th>
                                    @Html.LabelFor(model => model.Inmuebles[0].SaldoHipoteca)
                                    <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Monto actual del Saldo del Prestamo hipotecario">?</span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Inmuebles)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Direccion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoDeInmueble)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PorcentajeParticipacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ValorComercial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SaldoHipoteca)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm @Disabled" onclick=PopupForm('@Url.Action("Save", "Inmuebles" , new { id=item.ID, declaracionID=Model.DeclaracionID })')> <i class='fa fa-pencil'></i> Editar</a>
                                        <a class='btn btn-danger btn-sm @Disabled' onclick=Delete('@Url.Action("Delete", "Inmuebles" , new { id=item.ID})')><i class='fa fa-trash'></i> Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*Vehiculos*@
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin:16px 0 8px 0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card-title">Vehículos</div>
                            <div class="card-text">Indicar todos los vehículos de los cuales usted sea propietario parcial o total.</div>
                        </div>
                        <div class="col-md-2">
                            <p class="demo">
                                <a id="addInmueble" class="btn btn-primary btn-round pull-right @Disabled" onclick=PopupForm('@Url.Action("Save", "Vehiculos" , new { id=Guid.Empty, declaracionID=Model.DeclaracionID } )')><i class="fa fa-plus"></i> Nuevo</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="vehiculosTable" class="table table-bordered table-head-bg-info table-condensed">
                        <thead>
                            <tr>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Vehiculos[0].Marca)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Vehiculos[0].TipoVehiculo)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Vehiculos[0].Anio)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Vehiculos[0].ValorAproximado)
                                </th>
                                <th>
                                    @Html.LabelFor(model => model.Vehiculos[0].SaldoDeudor)
                                    <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Monto actual del Saldo del Prestamo hipotecario">?</span>
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.Vehiculos[0].Banco)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Vehiculos)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Marca)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoVehiculo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Anio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ValorAproximado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SaldoDeudor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Banco)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm @Disabled" onclick=PopupForm('@Url.Action("Save", "Vehiculos" , new { id=item.ID, declaracionID=Model.DeclaracionID })')> <i class='fa fa-pencil'></i> Editar</a>
                                        <a class='btn btn-danger btn-sm @Disabled' onclick=Delete('@Url.Action("Delete", "Vehiculos" , new { id=item.ID})')><i class='fa fa-trash'></i> Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*OtrosIngresos*@
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin:16px 0 8px 0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card-title">Otros Ingresos</div>
                            <div class="card-text">Describa la fuente de ingresos adicionales a la remuneración que recibe de LBC.</div>
                        </div>
                        <div class="col-md-2">
                            <p class="demo">
                                <a id="addInmueble" class="btn btn-primary btn-round pull-right @Disabled" onclick=PopupForm('@Url.Action("Save", "OtrosIngresos" , new { id=Guid.Empty, declaracionID=Model.DeclaracionID } )')><i class="fa fa-plus"></i> Nuevo</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="vehiculosTable" class="table table-bordered table-head-bg-info table-condensed">
                        <thead>
                            <tr>
                                <th scope="col">
                                    @Html.LabelFor(model => model.OtrosIngresos[0].Concepto)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.OtrosIngresos[0].IngresoMensual)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OtrosIngresos)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Concepto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IngresoMensual)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm @Disabled" onclick=PopupForm('@Url.Action("Save", "OtrosIngresos" , new { id=item.ID, declaracionID=Model.DeclaracionID })')> <i class='fa fa-pencil'></i> Editar</a>
                                        <a class='btn btn-danger btn-sm @Disabled' onclick=Delete('@Url.Action("Delete", "OtrosIngresos" , new { id=item.ID})')><i class='fa fa-trash'></i> Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*ValoresNegociables*@
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin:16px 0 8px 0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card-title">Valores Negociables</div>
                        </div>
                        <div class="col-md-2">
                            <p class="demo">
                                <a id="addInmueble" class="btn btn-primary btn-round pull-right @Disabled" onclick=PopupForm('@Url.Action("Save", "ValoresNegociables" , new { id=Guid.Empty, declaracionID=Model.DeclaracionID } )')><i class="fa fa-plus"></i> Nuevo</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="vehiculosTable" class="table table-bordered table-head-bg-info table-condensed">
                        <thead>
                            <tr>
                                <th scope="col">
                                    @Html.LabelFor(model => model.ValoresNegociables[0].Descripcion)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.ValoresNegociables[0].TipoValor)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.ValoresNegociables[0].ValorAproximado)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ValoresNegociables)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoValor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ValorAproximado)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm @Disabled" onclick=PopupForm('@Url.Action("Save", "ValoresNegociables" , new { id=item.ID, declaracionID=Model.DeclaracionID })')> <i class='fa fa-pencil'></i> Editar</a>
                                        <a class='btn btn-danger btn-sm @Disabled' onclick=Delete('@Url.Action("Delete", "ValoresNegociables" , new { id=item.ID})')><i class='fa fa-trash'></i> Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*DeudasBancarias*@
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin:16px 0 8px 0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card-title">Deudas en Entidades Financieras</div>
                            <div class="card-text">Describir deudas en entidades financieras adicionales a las reportadas en los apartados de inmuebles y vehículos.</div>
                        </div>
                        <div class="col-md-2">
                            <p class="demo">
                                <a id="addInmueble" class="btn btn-primary btn-round pull-right @Disabled" onclick=PopupForm('@Url.Action("Save", "DeudasBancarias" , new { id=Guid.Empty, declaracionID=Model.DeclaracionID } )')><i class="fa fa-plus"></i> Nuevo</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="vehiculosTable" class="table table-bordered table-head-bg-info table-condensed">
                        <thead>
                            <tr>
                                <th scope="col">
                                    @Html.LabelFor(model => model.DeudasBancarias[0].InstitucionFinanciera)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.DeudasBancarias[0].Tipo)
                                </th>
                                <th scope="col">
                                    @Html.LabelFor(model => model.DeudasBancarias[0].Monto)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DeudasBancarias)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InstitucionFinanciera)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tipo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Monto)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm @Disabled" onclick=PopupForm('@Url.Action("Save", "DeudasBancarias" , new { id=item.ID, declaracionID=Model.DeclaracionID })')> <i class='fa fa-pencil'></i> Editar</a>
                                        <a class='btn btn-danger btn-sm @Disabled' onclick=Delete('@Url.Action("Delete", "DeudasBancarias" , new { id=item.ID})')><i class='fa fa-trash'></i> Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaLlenado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaLlenado)
        </dd>

    </dl>
</div>
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    here
    <div class="modal-content"></div>
</div>
@section scripts{

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('div.container.body-content').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('div.container.body-content').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>
    <script>
        var Popup, dataTable;
        @*$(document).ready(function () {
            dataTable = $("#depositosTable").DataTable({
                "ajax": {
                    "url": "/Depositos/GetData/@Model.DeclaracionID",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "institucion" },
                    { "data": "tipoDeCuenta" },
                    { "data": "saldo" },
                    { "data": "id" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("Save","Depositos")/" + data + "')><i class='fa fa-pencil'></i> Editar</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Eliminar</a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }

                ],
                dom: "tip",
                searching: false,
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });*@
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Ingrese los datos',
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            location.reload(true);
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }
                });
            }
            return false;
        }
        function CloseForm(form) {
            Popup.dialog('close');
        }
        function Delete(url) {
            if(confirm('¿Está seguro que desea eliminar el registro?'))
            {
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function (data) {
                        if (data.success)
                        {
                            location.reload(true);

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }

    </script>
}